a:hover{
    color: red;
}
body{
    background-color: rgb(154, 222, 224);
}
div{
    color: rgb(255, 0, 0);
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #fafafa;
}
    
tr:hover {
  background-color: #e0f7fa;
}

